<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="freetard.net" />
   <link href="" rel="alternate" title="Freetard" type="application/atom+xml" />

   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

</head>
<body>

<div class="site">
  <span class="rightbar">
    <a href="http://freetard.net/"><img src="http://freetard.net/images/freetardnet-logo.png" alt="freetard" /></a>
    <p>This is the community page of <strong><tt>#freetard</tt></strong> IRC channel on <a href="http://freenode.net/">Freenode</a>.</p>
    <p><a href="http://freetard.net/2011/04/intro.html">How to Join the Community</a></p>
    <p>How to Post to the Site</p>
  </span>
  </table>
  </tr>
  
  <tr>
  <table>
  <span class="main">
  {{ content }}
  </span>
  
  <div class="footer">
    <div class="contact">
      <p><p>
      </p>
    </div>
    <div class="contact">
      <p>
      </p>
    </div>
    <div class="rss">
      <a href="">
        <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
      </a>
    </div>
  </div>
</div>

</body>
</html>
